@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #333;
}

::-webkit-scrollbar-thumb {
	background: #000;
}

html, body {
	margin: 0;
	padding: 0;
	background: #333;
	color: #FFF;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	margin: 0;
	padding: 0;
	font-size: 14pt;
	font-weight: 300;
	background: #8758AB;
	box-shadow: 0 0 10px #000;
	z-index: 10;
	/* box-sizing: border-box;
	border: 1px solid #F00; */
}

.menu ul.list {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: none;
}

.menu ul.list > li {
	height: 100%;
	display: inline-block;
	margin-left: -4px;
}

.menu ul.list > li > a {
	height: calc(100% - 34px);
	padding: 14px 20px;
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	/*box-sizing: border-box;*/
}

.menu ul.list > li > a:hover {
	/*box-sizing: border-box;*/
	border-bottom: 6px solid #A67EC5;
}

.content {
	overflow: auto;
	position: absolute;
	top: 56px;
	height: calc(100% - 56px - 32px);
	width: 100%;
	position: absolute;
}

.footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 12px);
	height: 18px;
	margin: 0;
	padding: 6px;
	z-index: 10;
}
